name: rubyci-screenshot

on:
  push:
    branches:
      - master
  schedule:
    - cron: '30 14 * * *' # Daily at 14:30 UTC


jobs:
  latest:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - uses: ruby/setup-ruby@4c24fa5ec04b2e79eb40571b1cee2a0d2b705771 # v1.278.0
        with:
          ruby-version: 2.7

      - name: Setup the environment
        run: |
          sudo snap install chromium
          bundle install

      - name: Run the script
        run: bundle exec ruby rubyci-screenshot.rb
        env:
          RUBYCI_SCREENSHOT_SLACK_API_TOKEN: ${{ secrets.RUBYCI_SCREENSHOT_SLACK_API_TOKEN }}
          RUBYCI_SCREENSHOT_SLACK_CHANNEL_ID: ${{ secrets.RUBYCI_SCREENSHOT_SLACK_CHANNEL_ID }}

#      - uses: actions/upload-artifact@master
#        with:
#          name: rubyci-screenshot
#          path: rubyci.png
