name: rubyci-screenshot

on:
  push:
    branches:
      - master
  schedule:
    - cron: '30 14 * * *' # Daily at 14:30 UTC


jobs:
  latest:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1

      - uses: ruby/setup-ruby@8aeb6ff8030dd539317f8e1769a044873b56ea71 # v1.268.0
        with:
          ruby-version: 2.7

      - name: Setup the environment
        run: |
          sudo snap install chromium
          bundle install

      - name: Run the script
        run: bundle exec ruby rubyci-screenshot.rb
        env:
          RUBYCI_SCREENSHOT_SLACK_API_TOKEN: ${{ secrets.RUBYCI_SCREENSHOT_SLACK_API_TOKEN }}
          RUBYCI_SCREENSHOT_SLACK_CHANNEL_ID: ${{ secrets.RUBYCI_SCREENSHOT_SLACK_CHANNEL_ID }}

#      - uses: actions/upload-artifact@master
#        with:
#          name: rubyci-screenshot
#          path: rubyci.png
