name: rubyci-screenshot

on:
  push:
    branches:
      - master
  schedule:
    - cron: '30 14 * * *' # Daily at 14:30 UTC


jobs:
  latest:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0

      - uses: ruby/setup-ruby@d697be2f83c6234b20877c3b5eac7a7f342f0d0c # v1.269.0
        with:
          ruby-version: 2.7

      - name: Setup the environment
        run: |
          sudo snap install chromium
          bundle install

      - name: Run the script
        run: bundle exec ruby rubyci-screenshot.rb
        env:
          RUBYCI_SCREENSHOT_SLACK_API_TOKEN: ${{ secrets.RUBYCI_SCREENSHOT_SLACK_API_TOKEN }}
          RUBYCI_SCREENSHOT_SLACK_CHANNEL_ID: ${{ secrets.RUBYCI_SCREENSHOT_SLACK_CHANNEL_ID }}

#      - uses: actions/upload-artifact@master
#        with:
#          name: rubyci-screenshot
#          path: rubyci.png
