name: rubyci-alerts

on:
  schedule:
    - cron: '0,10,20,30,40,50 * * * *' # every ten minutes

jobs:
  latest:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - uses: ruby/setup-ruby@ae195bbe749a7cef685ac729197124a48305c1cb # v1.276.0
        with:
          ruby-version: 2.7

      - name: Use master branch
        run: git checkout master

      - name: Run the script
        run: ruby rubyci-alerts.rb
        env:
          RUBYCI_ALERTS_SLACK_WEBHOOK_URL: ${{ secrets.RUBYCI_ALERTS_SLACK_WEBHOOK_URL }}
          RUBYCI_ALERTS_SIMPLER_ALERTS_URL: ${{ secrets.RUBYCI_ALERTS_SIMPLER_ALERTS_URL }}

      - name: Update the timestamp file
        run: |
          git config --global user.name "git"
          git config --global user.email "svn-admin@ruby-lang.org"
          git remote set-url origin https://mame:${GITHUB_TOKEN}@github.com/ruby/rubyci-alerts.git
          if git commit -a -m 'Update timestamp'; then
            git push origin HEAD
          fi
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
