name: rubyci-screenshot

on:
  push:
    branches:
      - master
  schedule:
    - cron: '30 14 * * *' # Daily at 14:30 UTC


jobs:
  latest:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - uses: ruby/setup-ruby@09a7688d3b55cf0e976497ff046b70949eeaccfd # v1.288.0
        with:
          ruby-version: 2.7

      - name: Setup the environment
        run: |
          sudo snap install chromium
          bundle install

      - name: Run the script
        run: bundle exec ruby rubyci-screenshot.rb
        env:
          RUBYCI_SCREENSHOT_SLACK_API_TOKEN: ${{ secrets.RUBYCI_SCREENSHOT_SLACK_API_TOKEN }}
          RUBYCI_SCREENSHOT_SLACK_CHANNEL_ID: ${{ secrets.RUBYCI_SCREENSHOT_SLACK_CHANNEL_ID }}

#      - uses: actions/upload-artifact@master
#        with:
#          name: rubyci-screenshot
#          path: rubyci.png
